.app {
    & * {
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    & header {
        width: 100%;
        background-color: #ddd;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        align-items: center;
        & a {
            margin: 0 10px;
            text-decoration: none;
            color: blue;
        }
    }
}